name: Keep Render Alive

on:
  schedule:
    - cron: "*/10 * * * *" # every 10 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app
        run: curl https://set-card-game.onrender.com/health
