name: Keep Render Alive

on:
  schedule:
    - cron: "*/1 * * * *" # every 1 minute (minimum supported by GitHub Actions)

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app
        run: curl https://set-card-game.onrender.com/health
